/*p {color:#660000;}*/
h1 {font-size:36px;color:#2F4F4F;}
h2 {font-size:30px;}
body
{
background-color:#EEEEEE;
}
html,body {margin:0;padding:0}
body {font: 76% arial,sans-serif}
p {text-align: center}
a {display:block;color: #981793;padding:10px}
.center
{
text-align:center;
}
/*Menu in the profile page*/
div#menuPane{
	position: absolute;
	left: 25px;
	top: 25px;
	width: 25%;
}

div.menu {
	display: block;
	font-size: 14px;
	margin: 0;
	padding: 0;
	border: 2px solid #000000;
}

div.menu a {
	display: block;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	letter-spacing: 1px;
	margin: 0px;
	color: black;
	border-top: 1px solid #000000;
}

div.menu a:link{
	background: #00000;
}

div.menu a:visited{
	background: #FF6600;
}
div.menu a:hover{
	background: #FFFFFF;
	text-color: #FFFFFF;
	letter-spacing: 2px;
}

div.menu h4{ 
	padding: 2px;
	margin: 0px;
}

/*button part*/
.button {
   background: #000000;
   color: white;
   font-size: 16px;
   font-family: Georgia, serif;
   
   }
.button:hover {
   border-top-color: #FFFFFF;
   background: #00FFFF;
   color: #ccc;
   }
.button:active {
   border-top-color: #5c1b1b;
   background: #5c1b1b;
   }
.deneme
 {
 	height : 100px;
	width : 300px;
 }
 #submit
 {
   width: 105%; 
   margin-top: 4%;
 }
 #applier
 {
   width: 1415;
 }
 
 #tags
 {
   height: 80px;
    min-height: 80px;
    width: 300px;
   margin-left: 550px;
 }
 
 #element_tags {
    height: 80px;
    margin-left: 40%;
    min-height: 80px;
    width: 300px;
}
 
  #description
 {
   width: 75%;
 }
 #tags_
 {
   width: 105%;
 }
 
  #elementtags {
    height: 80px;
    margin-left: 144px;
    min-height: 80px;
    width: 300px;
}

#elementtime {
    height: 80px;
    margin-left: 44px;
    margin-right: 150px;
    margin-top: -5px;
    margin-bottom: 10px;
    min-height: 80px;
    width: 300px;
}
 
 .location
 {
    background-color:#6E6E6E;
	clear:both;
 }
 .searchPage
 {
 	background-color:#6E6E6E;
	clear:both;
	text-align:center;
 }
 .searchTd
 {
 	background-color:#6E6E6E;
	clear:both;
	text-align:center;
 }

div#header h1{height:80px;line-height:80px;margin:0;
  padding-left:10px;background: #FF8539;color: #79B30B}

/*three modules for the profile part*/
div#navigation{background:#B9CAFF} 
div#navigation{float:left;width:250px;margin-left:-100%}
 
div#content p{line-height:1.4}
div#content{margin: 0 33% 0 250px}
div#wrapper{float:left;width:100%}

div#extra{background:#B9CAFF}
div#extra{float:left;width:33%;margin-left:-33%}

/*footer part*/
div#footer{background: #333;color: #FFF}
div#footer p{margin:0;padding:5px 10px;color: #FFF;font-size: 12px;margin-top:1%;}
div#footer{clear:left;width:100%;}

div#footer_top{background: #333;color: #FFF}
div#footer_top p{margin:0;padding:5px 10px;color: #FFF;font-size: 12px;}
div#footer_top{clear:left;width:100%;}

/*Header Part*/
.darkmenu {
	width:960px;
	height:80px;
	background: #333;
	background-repeat: no-repeat;
	background-position: bottom;
	margin:0 auto;
	clear:both;
	margin-bottom:20px;
	margin-top:0px;
}
.darkPink {
	position: relative;
	height: 62px;
	width: 700px;
	overflow: hidden;
	float:left;
}
.darkPink li {
	float: left;
	list-style: none;
	width: 110px;
	height:52px;
	position: relative;
	top:7px;
}

.darkPink li.back {
	width: 100px;
	margin-left:0px;
	height: 65px;
	z-index: 8;
	position: absolute;
}

.darkPink li a  {
	font-size: 16px ;
	font-family:"Myriad Pro", sans-serif;
	font-weight: normal;
	text-decoration: none;
	width:110px;
	color: #d8d8d8;
	outline: none;
	text-align: center;
	letter-spacing: 0;
	z-index: 10;
	display: block;
	float: left;
	top:18px;
	height: 30px;
	position: relative;
	overflow: hidden;
}

.darkPink li a:hover{
	color:#fff;
}

.TableFormat {

	margin:0px;padding:0px;
	width:100%;
	border:1px solid #0e0e49;
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
		-moz-border-radius-topleft:0px;
-webkit-border-top-left-radius:0px;
border-top-left-radius:0px;
}
.TableFormat table{

	width:80%;
	height:75%;
	margin:0px;padding:0px;

}
.TableFormat tr:last-child td:last-child {

	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}

.TableFormat table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}

.TableFormat table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;

}.TableFormat tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}
.TableFormat tr:hover td{
	background-color:#cccccc;
}

.TableFormat td{
	vertical-align:middle;
	background-color:#cccccc;
	border:1px solid #0e0e49;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:5px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}
.TableFormat tr:last-child td{
	border-width:0px 1px 0px 0px;

}
.TableFormat tr td:last-child{
	border-width:0px 0px 1px 0px;

}
.TableFormat tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}

.TableFormat tr:first-child td{
		background:-o-linear-gradient(bottom, #003366 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #003366), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #003366 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#003366", endColorstr="#003f7f");	background: -o-linear-gradient(top,#003366,003f7f);
	background-color:#003366;
	border:0px solid #0e0e49;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:16px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}

.TableFormat tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #003366 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #003366), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #003366 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#003366", endColorstr="#003f7f");	background: -o-linear-gradient(top,#003366,003f7f);
	background-color:#003366;
}

.TableFormat tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}

.TableFormat tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}