body
{
background-color:#EEEEEE;
}
.center
{
text-align:center;
}
div#menuPane{
	position: absolute;
	left: 25px;
	top: 25px;
	width: 25%;
}

div.menu {
	display: block;
	font-size: 14px;
	margin: 0;
	padding: 0;
	border: 2px solid #0000;
}

div.menu a {
	display: block;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	letter-spacing: 1px;
	margin: 0px;
	color: black;
	border-top: 1px solid #FF6600;
}

div.menu a:link{
	background: #FF6600;
}

div.menu a:visited{
	background: #FF6600;
}
div.menu a:hover{
	background: #FFA500;
	letter-spacing: 2px;
}

div.menu h4{ 
	padding: 2px;
	margin: 0px;
}
div#footer{background: #333;color: #FFF}
div#footer p{margin:0;padding:5px 10px;color: #FFF;font-size: 12px;text-align: center;}
div#footer{clear:left;width:100%}

.button {
   background: #000000;
   color: white;
   margin-left:67px;
   font-size: 16px;
   font-family: Georgia, serif;
   
   }
.button:hover {
   border-top-color: #00000;
   background: #04B4AE;
   color: #ccc;
   }
.button:active {
   border-top-color: #1B5C58;
   background: #1B5C58;
   }
 .deneme
 {
 	height : 100px;
	width : 300px;
 }
 
 .searchTd
 {
 	background-color:#00000;
	clear:both;
	text-align:center;
 }